@charset 'UTF-8';

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../_imagens/radio-tv.png') no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    top: 488px;
    left: 572px;
}
video#filme {
    display: block;
    position: relative;
    top: -10px;
    left: 85px;
    width: 440px;
    height: 360px;
}